export BOOTSTRAP_GITHUB_PERSONAL_API_PAT="REPLACE WITH YOUR PERSONAL TEMP PAT HERE"
export BOOTSTRAP_GITHUB_ORG_REPO_PAT="REPLACE WITH ANY PERMANENT PAT YOU NEED"
export BOOTSTRAP_GITHUB_USER_EMAIL="seantcanavan@gmail.com"
export BOOTSTRAP_GITHUB_USER_NAME="seantcanavan"
export BOOTSTRAP_GIT_USER_EMAIL="seantcanavan@gmail.com"
export BOOTSTRAP_GIT_USER_NAME="Sean T Canavan"
